@import url('https://fonts.googleapis.com/css?family=Gaegu&display=swap');
/* Ipad Screen */

.App {
  width: 1024px;
  height: 768px;
  z-index: 0;
}


.header {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
}

.my-dex {
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 512px 512px;
  position: relative;
  float: left;
  height: 600px;
  width: 1024px;
  z-index: 01;
}

.footer {
  height: 8%;
  background-color: #ec5656;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.circlecontainer {
  display: table;
  margin: auto;
  position: relative;
  top: -50px;
  cursor: pointer;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #ec5656;
  color: white;
  border-radius: 100px;
  font-size: 68px;
  text-align: center;
  -webkit-box-shadow: inset 0px 5px 3px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 5px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 5px 3px 0px rgba(0, 0, 0, 0.25);
}

/* In Modal */

.boxOverray {
  position: absolute;
  height: 768px;
  width: 1024px;
  background-color: #000000a3;
  margin: auto;
  float: left;
  z-index: 100;
}

.boxModal {
  background-color: #ffffff;
  height: 680px;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -340px; /* -(height/2) */
  margin-left: -450px; /* -(width/2) */
  z-index: 100;
}

.boxDex {
  height: 600px;
  width: 900px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*-----------------------------(Change Scroll Bar)-----------------------------*/
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
/*-----------------------------(Change Scroll Bar)-----------------------------*/

.name {
  text-transform: uppercase;
  font-family: 'Gaegu', cursive;
  font-size: 40px;
  
}

.text {
  font-size: 24px;
}

.input {
  position: sticky;
  display: block;
  padding-left: 8px;
  width: 100%;
  font-family: Atma;
  font-size: 35px;
  flex-direction: row;
}

.box-input {
  display: flex;
  flex-direction: row;
}

.box-search {
  position: absolute;
  right: 0px;
}

.search-img {
  width: 60px;
  height: 60px;
}

.box-Happiness {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
}

.cute-img {
  margin: 1px;
  width: 50px;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: #d5d6dc;
  width: 100%;
  margin: 10px;
}
.container:hover .isHover {
  display: block;
}
.container:hover {
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}
.isHover {
  color: #dc7777;
  display: none;
}
#box1 {
  flex-grow: 1;
}

#box2 {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
}

#box3 {
  flex-grow: 1;
  color: #ec5656;
  text-align: center;
  width: 100px;
}

.box-powerbar {
  display: flex;
  flex-direction: row;
}

/*Progress Bar*/

.progress-bar {
  width: 220px;
  background-color: #aeaeae;
  border-radius: 50px;
  height: 30px;
}

.value-progress-bar {
  display: block;
  height: 30px;
  background-color: #f3701a;
  border-radius: 30px;
}

.box-mycard {
  display: grid;
  grid-template-columns: 200px 260px 40px;
  background-color: #d5d6dc;
  margin: 5px;
  z-index: 0;
}

.power-line {
  display: grid;
  grid-template-columns: 100px auto;
}

.box-mycard:hover .close {
  display: block;
}

.box-mycard:hover {
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.my-dex-power {
  height: 380px;
  margin-left: 5px;
  z-index: 1;
}

.pointer {
  cursor: pointer;
}

.close {
  display: none;
  cursor: pointer;
  text-align: center;
  font-size: 40px;
  color: #dc7777;
}

.my-img {
  height: 300px;
  width: 200px;
}

.type {
  display: grid;
  grid-template-columns: 40px 260px;
}

.tap {
  margin-left: 30px;
}
